    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }

    #kikuk {
        color: white;
        background-color: black;
        padding: 3px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .kikuk3 {
        color: black;
        background-color: white;
        border-radius: 30px;
        padding: 5px 15px;

    }

    .kikuk3:hover {
        color: black;
        background-color: rgb(161, 2, 2);
        border-radius: 30px;
        padding: 10px 20px;
    }


    .kikuk3:active {
        color: black;
        background-color: rgb(0, 255, 0);
        border-radius: 30px;
        padding: 10px 20px;
    }

    hr {
        width: 1330;
        height: 10px;
        background-color: black;
    }

    #hasil {
        border-left: 3px solid black;
        border-right: 3px solid black;
        padding: 0 6px;
        margin-left: 3px;
        transition-property: all;
    }

    #buttonTest {
        border: 1px solid white;
        border-radius: 10px;
        padding: 5px 10px;
        margin-left: 4px;
    }

    #buttonTest:hover {
        background-color: black;
        border: 1px solid white;
        border-radius: 14px;
        padding: 8px 13px;
        color: white;
        margin-bottom: -4px;
        margin-top: -4px;
        margin-left: 4px;
        margin-left: -2px;
    }

    #buttonTest:active {
        background-color: rgb(0, 255, 0);
        border: 1px solid black;
        color: black;
    }

    /* tidak work visited */
    #buttonTest:visited {
        background-color: rgb(0, 255, 0);
        border: 1px solid red;
        color: black;
    }